<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enriched2TaxonomyGroup</title>
    <script language="javascript">
        function clearForm() {
            document.getElementById("doc_headline").value = ''
            document.getElementById("doc_text").value = ''
            document.getElementById("results").innerHTML = ''
            document.getElementById("doc_headline").focus()
            document.getElementById("doc_headline").select()
        }
    </script>
</head>
<body>
<h1>Hitta föreslagna taxonomigrupper genom berikning.</h1>
<div id="content" style="display:flex">
<div id="form" style="float:left; padding:3em">
<form method="post">
    <p>Rubrik</p>
    <input id="doc_headline" type="text" size="80" name="doc_headline" value="{{headline}}"/><br/>
    <p>Annonstext</p>
    <textarea id="doc_text" rows="5" cols="80" name="doc_text">{{text}}</textarea>
    <br/>
    <input type="submit"/>
    <input type="button" value="Nollställ" onclick="javascript:clearForm()"/>
    </form>
</div>
<div id="results">
    <b>Funna yrken och grupper</b>
<hr/>
{% for occupation, group in groups.items() %}
    <h1>&quot;{{occupation}}&quot;</h1>
    <h3>Rekommenderade taxonomigrupper</h3>
    {% for tg in group %}
        <b>{{tg.taxonomy_id}} ({{tg.concept_id}})</b> – {{tg.label}}
        <p><i>{{tg.description}}</i></p>
    {% endfor %}
<hr/>
{% endfor %}
</div>
    </div>

</body>
</html>