<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enriched2TaxonomyGroup</title>
    <script language="javascript">
        function clearForm() {
            document.getElementById("headline").value = ''
            document.getElementById("text").value = ''
            document.getElementById("results").innerHTML = ''
            document.getElementById("doc_headline").focus()
        }
    </script>
</head>
<body>
<h1>Hitta föreslagna taxonomigrupper genom berikning.</h1>
<div id="content" style="display:flex">
<div id="form" style="float:left; padding:3em">
<form method="post">
    <p>Rubrik</p>
    <input id="headline" type="text" size="80" name="headline" value="{{headline}}"/><br/>
    <p>Annonstext</p>
    <textarea id="text" rows="5" cols="80" name="text">{{text}}</textarea>
    <br/>
    <input type="button" value="Nollställ" onclick="javascript:clearForm()"/>
    <input type="submit" value="Skicka"/>
    </form>
</div>
<div id="results">
    <b>Funna yrken och grupper</b>
<hr/>
{% for occupation, group in groups.items() %}
    <h1>&quot;{{occupation}}&quot;</h1>
    <h3>Rekommenderade taxonomigrupper</h3>
    {% for tg in group %}
    <p>
        <small><a href="/show-siblings/{{tg.concept_id}}">{{tg.parent_label}}</a></small><br/>
        <b>{{tg.taxonomy_id}} ({{tg.concept_id}})</b> – {{tg.label}}<br/>
        <i>{{tg.description}}</i>
    </p>
    {% endfor %}
<hr/>
{% endfor %}
</div>
    </div>

</body>
</html>